[submodule "01-cartoon"]
	path = 01-cartoon
	url = https://github.com/cisc3610-mmp/01-cartoon
[submodule "lab-chart"]
	path = lab-chart
	url = https://github.com/cisc3610-mmp/lab-chart
[submodule "lab-animation"]
	path = lab-animation
	url = https://github.com/cisc3610-mmp/lab-animation
[submodule "02-animation"]
	path = 02-animation
	url = https://github.com/cisc3610-mmp/02-animation
[submodule "lab-notebook"]
	path = lab-notebook
	url = https://github.com/cisc3610-mmp/lab-notebook
[submodule "03-data-visualization"]
	path = 03-data-visualization
	url = https://github.com/cisc3610-mmp/03-data-visualization
[submodule "lab-phaser-drag-n-drop"]
	path = lab-phaser-drag-n-drop
	url = https://github.com/cisc3610-mmp/lab-phaser-drag-n-drop
[submodule "lab-audio"]
	path = lab-audio
	url = https://github.com/cisc3610-mmp/lab-audio
[submodule "lab-video"]
	path = lab-video
	url = https://github.com/cisc3610-mmp/lab-video
[submodule "04-speech-recognition"]
	path = 04-speech-recognition
	url = https://github.com/cisc3610-mmp/04-speech-recognition
[submodule "lab-resume"]
	path = lab-resume
	url = https://github.com/cisc3610-mmp/lab-resume
